#navigation
  %ul.nav
    = tab('/', :home)
    = tab('/home/about', :about)
    = tab('/home/work', :work)
    = tab('/home/services', :services)
    = tab('/home/contact', :contact)
    = tab('/home/payments', :payments)
    
