<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>About - Isotope11</title>
       <meta content="2009-12-02T14:31:41-0600" name="date" />
    <meta name="keywords" content="Isotope, Isotope11, Isotope Eleven, internet, Laird Foret, software, custom software, Birmingham, custom software birmingham, alabama, custom development birmingham, consulting, Ruby development, Ruby on Rails development, rails development, linux, technology firm" />
    <meta name="description" content="Isotope11 specializes in custom software development on Linux based platforms using Ruby on Rails (RoR). Our expert skill sets also include e-commerce and financial applications, social networking applications, database architectures, graphic design, user interfaces and much more."/>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <%= stylesheet_link_tag 'reset-min', 'screen' %>
   <script type="text/javascript" src="/javascripts/typeface-0.14.js"></script>
   <script type="text/javascript" src="/javascripts/greyscalebasic_regular.typeface.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body class="internal">
    <div id="main-wrap">
      <div id="header-internal">
      <div id="title-bar-internal">
          <div id="top-bar">
        <h1><a href="index.html">Isotope11</a></h1>
              <div id="user_nav">
                <% if !current_user %>
                  <%= link_to "Register", new_account_path %>
                  <%= link_to "Login", new_user_session_path %>
                <% else %>
                  <%= link_to "My Account", edit_user_path(:current) %>
                  <%= link_to "Logout", logout_path %>
                <% end %> 
               </div>
          <div id="navigation">
        <ul class="nav">
              <li class="home"><a href="/">Home</a></li>
              <li class="about"><a href="/home/about">About Us</a></li>
              <li class="work"><a href="/home/work">Work</a></li>
              <li class="services"><a href="/home/services">Services</a></li>
              <li class="contact"><a href="/home/contact">Contact</a></li>
              <li class="payments"><a href="/home/payments">Payments</a></li>
            </ul>
          </div>
          </div>
        </div>    
    </div>
    </div>
    <div id="content-wrap">
      <div id="content">
        <%= yield -%>
        <br style="clear:both;" />
        
        </div>
      </div>
      <div id="footer">
        <div id="footer-content-wrap">
          <ul class="footer-content">
            <li>Isotope 11</li>
            <li>-</li>
            <li>529 Beacon Pkwy W</li>
            <li>-</li>
            <li>Suite 105</li>
            <li>-</li>
            <li>Birmingham, AL 35209</li>
            <li>-</li>
            <li>p: 877.476.8671</li>
            <li>-</li>
            <li>f: 205.943.5760</li>
            <li>-</li>
            <li>e: <a href="mailto:info@isotope11.com">info@isotope11.com</a></li>
            </ul>
          </div>
        </div>
        
         <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script> <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-3168015-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
        
  </body>
</html>
